html,
body {
  margin: 0; /* This removes default margin */
  padding: 0;
}

body {
  background: linear-gradient(#c1c5c9 0.1%, #e3e6e6 30%);
  font-family: "JetBrains Mono", monospace !important; /* Main font */
}

/* Apply a different font for numbers */
.numbers {
  font-family: "Arial", sans-serif !important; /* Change to your preferred font for numbers */
}

/* Optional: Target numbers globally inside body */
body *:not(.numbers) {
  font-family: "JetBrains Mono", monospace !important;
}
